.menu-button {
	-fx-background-color: linear-gradient(white, lightgrey);
	-fx-background-radius: 5;
	-fx-text-fill: black;
	-fx-font-size: 15px;
}
.menu-button:hover {
	-fx-background-color: linear-gradient(whitesmoke, #cfcfcf);
}
.menu-button:pressed {
	-fx-background-color: linear-gradient(#e1e1e1, #e1e1e1);
	-fx-text-fill: #404040;
}
.menu-button,
.menu-item {
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: black;
    -fx-background: #e1e1e1;
}
.menu-item .label{
	-fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-font-size: 14.0 pt;
    -fx-text-fill: #242424;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: black ;
    -fx-text-fill: white;
}
.menu-item:pressed{
	-fx-background-color: #f0f0f0;
}
